.game-details {
  text-align: center;
  display: flex;
  text-align: left;
  gap: 1em;
  max-width: 900px;
  margin: 50px auto;
  background: linear-gradient(to right, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 100%);
    padding: 16px;
}

.game-details h2 {
  color: #fff;
}

.game-details a{
    color: #66c0f4;
}
.game-details a:hover{
    color: #ffffff;
}
